<div class="sidebar">
  <p>Useful links:</p>
  <ul class="mainList">
    <li><a href="">Travel</a></li>
    <li><a href="">Auto</a></li>
    <li><a href="">Radio</a></li>
    <li><a href="">Food</a></li>
      <ul>
        <li><a href="">Drinks</a></li>
        <li><a href="">Recipes</a></li>
      </ul>
    <li><a href="">Music</a></li>
    <ul>
      <li><a href="">Rock</a></li>
      <li><a href="">Pop</a></li>
    </ul>
    <li><a href="">Modern</a></li>
    <li><a href="">Old</a></li>
  </ul>
</div>
