:host{
  width: 100%;
  background: blue;
}
.navigation{
  text-align: center;
  font: 150% Calibri, sans-serif;

}

ul{
  list-style-type: none;
  margin: auto;
  text-align: center;
}
li{
  display: block;
  float: left;
  padding: 2%
}
li a{
  color: white;
  text-decoration: none;
}
